{% extends 'base.html' %}
{% block title %}
show
{% endblock %}

{% block content %}
<h1>ETL任务运行日志</h1>
<form>
    <div class="form-group">
    <label for="level">level</label>
        <!--name是request.values.get方法获得（get）。id是request.form['key']获得（需要form指定method=post）-->
    <input type="text" class="form-control" id="level" name="level" placeholder="level">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<p><button type="submit" class="btn btn-default">show all</button></p>
<button type="submit" class="btn btn-default">log out</button>
<hr>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>task_type</th>
        <th>sys_name</th>
        <th>table_name</th>
        <th>vdate</th>
        <th>logger</th>
        <th>level</th>
        <th>message</th>
        <th>create_date</th>
    </tr>
    {% for log  in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.task_type }}</td>
            <td>{{ log.sys_name }}</td>
            <td>{{ log.table_name }}</td>
            <td>{{ log.vdate }}</td>
            <td>{{ log.logger }}</td>
            <td>{{ log.level }}</td>
            <td>{{ log.message }}</td>
            <td>{{ log.create_time }}</td>
        </tr>
    {% endfor %}
</table>
{#  分页  #}
{% from 'mymacro.html' import my_render_pagination %}
{{ my_render_pagination(paginate,'loglist.show') }}
{% endblock %}