{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
show
{% endblock %}

{% block content %}

<h1>ETL任务运行日志</h1>
<form method="get" action="{{ url_for('loglist.search') }}">
    <!--必须要有这个，否则无法校验通过-->
    {{ form.csrf_token }}
    {{ form.level.label }}:{{ form.level(size = 20,  placeholder ='请输入' ) }}
    <br>{{ form.submit(class='btn btn-default') }}
    {% for err in form.level.errors %}
        <div class="col-md-12" >
            <p style="color:red">{{ err }}</p>
        </div>
    {% endfor %}
</form>
<p><button type="submit" class="btn btn-default">show all</button></p>
<button type="submit" class="btn btn-default">log out</button>
<hr>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>task_type</th>
        <th>sys_name</th>
        <th>table_name</th>
        <th>vdate</th>
        <th>logger</th>
        <th>level</th>
        <th>message</th>
        <th>create_date</th>
    </tr>
    {% for log  in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.task_type }}</td>
            <td>{{ log.sys_name }}</td>
            <td>{{ log.table_name }}</td>
            <td>{{ log.vdate }}</td>
            <td>{{ log.logger }}</td>
            <td>{{ log.level }}</td>
            <td>{{ log.message }}</td>
            <td>{{ log.create_time }}</td>
        </tr>
    {% endfor %}
</table>
{#  分页  #}
{% from 'mymacro.html' import my_render_pagination %}
{{ my_render_pagination(paginate,'loglist.show_all') }}
{% endblock %}